@model TravelTripProject.Models.Classes.BlogYorum
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_TripLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Blog Detay Sayfası</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                @foreach (var item in Model.Blog)
                {
                    <div class="single-grid">

                        <img src="@item.BlogImage" alt="blog-Image" />
                        <br />
                        <h2 style="text-transform: uppercase; color: black"><b>@item.Baslik</b></h2>
                        <p style="color:black">@item.Aciklama</p>
                    </div>
                    <hr />
                }
                @foreach (var item in Model.Yorum)
                {


                    <ul class="comment-list">
                        <li>
                            @if (item.Cinsiyet)
                            {
                                <img src="~/web2/images/man.jpg" class="img-responsive" alt="">
                            }
                            else
                            {
                                <img src="~/web2/images/woman.jpg" class="img-responsive" alt="">
                            }
                            <div class="desc">
                                <p>@item.KullaniciAdi : @item.Yorumlar</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                }
                @Html.Action("Comment","Blog")
            </div>

            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3>Son Bloglar</h3>
                    <ul>
                        <li><a href="#">Aliquam tincidunt mauris</a></li>
                        <li><a href="#">Vestibulum auctor dapibus  lipsum</a></li>
                        <li><a href="#">Nunc dignissim risus consecu</a></li>
                        <li><a href="#">Cras ornare tristiqu</a></li>
                    </ul>
                </div>
                <div class="comments">
                    <h3>Son Yorumlar</h3>
                    <ul>
                        <li><a href="#">Amada Doe </a> on <a href="#">Hello World!</a></li>
                        <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
                        <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </body>
</html>



